{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10.13"
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
    "annotate-pure-calls"
  ]
}
